@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 140px auto 0;
    min-height: calc(100vh - 248px);
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(69, 109, 176, 1);
    z-index: 99;
}

.loader img {
    max-width: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.modal {
    position: fixed;
    z-index: 98;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(69, 109, 176, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.modal-content {
    width: 90%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-title {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.modal-title h3,
.modal-title a {
    color: #456DB0;
}

.modal-body {
    padding: 15px 30px 30px;
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.modal-show {
    opacity: 1;
    visibility: visible;
}

.toolbar {
    position: fixed;
    width: 100vw;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar .tb-logo img {
    max-width: 150px;
}

@media screen and (max-width: 382px) {
    .toolbar .tb-logo img {
        max-width: 80px;
    }
}

.toolbar .tb-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tb-btn {
    border: 3px solid #456DB0;
    padding: 4px 8px;
    color: #456DB0;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    margin-right: 12px;
    background-color: #fff;
    transition: all .3s linear;
}

.tb-btn:hover {
    background-color: #456DB0;
    color: #fff;
}

.tb-logout {
    font-size: 22px;
    color: #456DB0;
}

.footer {
    background-color: #456DB0;
    color: #fff;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 30px 10px;
    margin-top: 30px;
}

.hotlinks {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

@media screen and (max-width: 440px) {
    .hotlinks .hl-links {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
        width: 100%;
    }
}

.hl-btn {
    padding: 15px 30px;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    transition: all .3s linear;
}

.hl-btn:hover {
    filter: brightness(90%);
}

.hl-btn i {
    opacity: 0.5;
    margin-right: 6px;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .hl-today {
        display: none;
    }
}

.hl-today p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #456DB0;
}

.title {
    display: grid;
    grid-template-columns: 50px 120px 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.title h3 {
    font-size: 15px;
    line-height: 25px;
    color: #456DB0;
}

.title div {
    width: 100%;
    height: 3px;
    background-color: #456DB0;
}

.legend {
    width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width: 400px) {
    .legend {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }
}

.legend-single {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
}

.legend-single div {
    display: block;
    width: 15px;
    height: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
    margin-right: 8px;
}

.legend-single span {
    color: #456DB0;
    font-size: 14px;
    line-height: 24px;
}

.schedule-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: all .3s linear;
    border-radius: 15px;
}

.schedule-card:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.schedule-card .sc-info {
    display: inline-flex;
    align-items: center;
}

.schedule-card .sc-info img {
    max-width: 40px;
}

.schedule-card p {
    display: block;
    padding: 0 15px;
    text-align: center;
    font-weight: 700;
    color: #456DB0;
    border-right: 1px solid #456DB0;
}

.schedule-card p:nth-of-type(3) {
    border: none;
}

.sc-marked {
    background-color: rgba(102, 187, 106, 0.2);
}

.sc-cancelled {
    background-color: rgba(239, 83, 80, 0.2);
}

.sc-options a {
    font-size: 20px;
    margin-right: 8px;
    color: #456DB0;
}

@media screen and (max-width: 560px) {
    .schedule-card p:nth-of-type(2),
    .schedule-card p:nth-of-type(3) {
        display: none;
    }

    .schedule-card p:nth-of-type(1) {
        border: none;
    }
}

.animal-resume {
    width: 100%;
    text-align: center;
}

.animal-resume img {
    max-width: 60px;
}

.animal-resume h3 {
    color: #456DB0;
    font-size: 20px;
    margin-bottom: 20px;
}

.animal-resume .animal-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 8px;
}

.animal-resume .animal-info p {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.7;
    border-right: 1px solid #ccc;
}

.animal-resume .animal-info p:nth-of-type(1) {
    border-left: 1px solid #ccc;
}

.animal-owner {
    text-align: left;
    margin-bottom: 30px;
}

.form-btn {
    font-weight: 700;
    color: #456DB0;
}

form {
    margin: 10px 0;
}

form label {
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
    color: #456DB0;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="email"],
form input[type="file"],
form input[type="time"],
form select,
form textarea {
    width: 100%;
    margin: 8px 0 16px;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #424242;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 4px solid #ccc;
    transition: all .3s linear;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="email"]:focus,
form input[type="file"]:focus,
form input[type="time"]:focus,
form select:focus,
form textarea:focus {
    border-bottom: 4px solid #456DB0;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #456DB0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.logo-alt {
    text-align: center;
    margin: 50px auto -100px;
}

.logo-alt img {
    max-width: 200px;
}

.form-img-btn {
    width: 100%;
    text-align: right;
}

.form-img-btn input[type="file"] {
    opacity: 0;
    visibility: hidden;
}

.form-img-btn label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background-color: #456DB0;
    color: #fff;
    padding: 8px 16px;
    border-radius: 15px;
}

.form-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 470px) {
    .form-2 {
        grid-template-columns: 1fr;
    }
}

.form-img {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.form-img img {
    max-width: 120px;
}

.new-section {
    padding: 15px;
    margin: 10px 0;
}

.new-section a {
    padding: 8px 16px;
    border-radius: 15px;
    font-weight: 700;
    background-color: #456DB0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.services {
    margin: 30px 0;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s linear;
    margin-bottom: 20px;
    background-color: #fff;
}

.service:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.service h3,
.service a {
    font-size: 15px;
    line-height: 25px;
    color: #424242;
}

.calendarSection {
    margin-bottom: 20px;
}

.agDay {
    margin-bottom: 40px;
}

#cdHidden {
    opacity: 0;
    width: 1px;
}

#cdButton {
    padding: 12px;
    background-color: #456DB0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.alert-default {
    position: fixed;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all .5s linear;
    opacity: 0;
    visibility: hidden;
}

.alert-content {
    position: absolute;
    width: 500px;
    height: auto;
    max-width: 90%;
    min-height: 200px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
    padding: 25px;
}

.alert-show {
    opacity: 1 !important;
    visibility: visible; !important;
}

.alert-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.alert-title h3,
.alert-title a {
    font-size: 16px;
    line-height: 26px;
    color: #424242;
}

.alert-body {
    margin-bottom: 40px;
}

.alert-footer {
    text-align: center;
}

.alert-footer .alert-btn {
    padding: 6px 24px;
    border-radius: 15px;
    background-color: #456DB0;
    color: #fff;
    font-weight: 700;
}

.formbtns {
    display: inline-block;
    margin-bottom: 15px;
}

.formbtns a {
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
}

.formbtns #enable {
    background-color: #388e3c;
}

.formbtns #disable {
    background-color: #EF5350;
}

.card-options {
    display: flex;
    align-items: center;
}

.card-options a {
    margin-right: 10px;
}

.card-options a:last-of-type {
    margin-right: 0;
}

.form-row {
    width: 100%;
    margin: 50px 0 20px;
}

.form-row label {
    display: block;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.form-row select {
    width: 100%;
    margin: 8px 0 16px;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #424242;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 4px solid #ccc;
    transition: all .3s linear;
}

.schedule-card-empty {
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: all .3s linear;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.schedule-card-empty p {
    font-weight: 700;
    color: #ccc;
    font-size: 20px;
}

.my_agendas {
    margin: 20px 0;
    overflow: auto;
}

.my_agendas table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #456DB0;
    min-width: 400px;
    overflow: auto;
}

.my_agendas table th {
    background-color: #456DB0;
    color: #fff;
}

.my_agendas table tr:nth-child(even) {
    background-color: #ebf5ff;
}

.my_agendas table tr:nth-child(odd) {
    background-color: #fff;
}

.my_agendas table tr {
    border-bottom: 1px solid #456DB0;
    border-top: 1px solid #456DB0;
}

.my_agendas table tr:hover {
    filter: brightness(95%);
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
}

.my_agendas table th,
.my_agendas table td {
    padding: 8px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 22px;
}